extends ../layout

block content
	div(class="jumbotron")
		h1 Aprendendo Node
		p(class="lead")
			| Auei Auei Auei
			| HUe Hue HUe
			| Hau Hau Hau
		p
			a(href="http://getbootstrap.com/examples/justified-nav/" target="_blank" class="btn btn-lg btn-success") Acessar o site