extends ../layout

block content
	h1 Usuarios
	a(href="/usuarios/create",class="btn btn-success") Cadastrar
	br
	if lista

		table(class="table table-striped")
			thead
				tr
					th ID:
					th Nome:
					th E-Mail:
					th Data:
					th Ações:
			tbody
				each valor in lista
					tr
						td #{valor._id}
						td #{valor.nome}
						td #{valor.email}
						td #{valor.data_cad}
	else
		p Nenhum registro encontrado!
